<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script
  defer
  src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"
></script>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
/>
<html>
  <head>
    <title>Agenda de Contato</title>
  </head>
  <body>
    <section class="hero is-dark is-bold is-fullheight">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column is-one-fifth">
              <div class="container">
              </div>
            </div>
            <div class="column">
              <h1 class="title">Agenda de Contatos</h1>
              <h2 class="subtitle">
                Acesse o link para gerenciar seus contatos
              </h2>

              <a class="button is-danger" href="/agenda"
                >Acessar a agenda de contatos</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
